.Grow{
    background-color: #FBF7ED;
}
.grow{
    margin-top: 50px;
    display: grid;
    gap: 30px;
    &__title{
        font-size: 26px;
        color: #212326;
    }
    &__left{
        display: grid;
        gap: 40px;
    }
    &__right{
        img{
            width: 100%;
        }
    }
    &__cards{
        display: grid;
        gap: 30px;
    }
    &__card{
        display: grid;
        gap: 10px;
        a{
            font-size: 14px;
            color: #008060;
        }
        &__title{
            font-size: 20px;
            color: #212326;
        }
        &__desc{
            font-size: 14px;
            color: #6B7177;
        }
       
    }
}
@media(min-width:576px){
    .grow{
        &__cards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
        }
    }
}
@media(min-width:992px){
    .grow{
        margin-top: 100px;
        gap: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        &__title{
            font-size: 34px;
        }
        &__cards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
        }
    }
}
@media(min-width:1200px){
    .grow{
        margin-top: 140px;
        gap: 100px;
        &__title{
            font-size: 44px;
        }
        &__cards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
        }
    }
}